body {
    width: 1920px;
    font-family: 'Roboto';
    font-style: normal;
}


.header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    height: 123px;
    padding: 0px 260px 0px 260px;
}

.header-logo {
    height: 70px;
    margin-right: 60px;

}

.header-nav li {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 45px;
}

.header-nav ul:nth-child(2),
.header-nav ul:nth-child(3) {
    margin-left: 1px;
}

.header-nav a {
    color: #292D32;
    text-align: right;
    font-family: 'Roboto';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
}


.search {
    padding: 0;
    margin-left: 49.77px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

.header-btns-list {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-bottom: -3px;
}

.header-btns-list__btn-container:not(:last-child) {
    margin-right: 30px;
}

.header-btns-list__btn {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.swiper-container {
    display: flex;
    flex-direction: row;
    position: relative;
}

.swiper {
    width: 1411px;
    position: static;
}

.swiper .swiper-pagination {
    position: absolute;
    bottom: 169px;
    left: 67.55%;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.swiper .swiper-pagination .swiper-pagination-bullet {
    width: 5px;
    height: 5px;
    margin-bottom: 1px;
    margin-right: 5px;
    margin-left: 5px;
}

.swiper .swiper-pagination .swiper-pagination-bullet-active {
    width: 9px;
    height: 9px;
    background-color: #292D32;
}

.swiper .swiper-button-next {
    position: absolute;
    top: 73.8%;
    right: 21%
}

.swiper .swiper-button-next::after {
    content: url(../images/Vector\ 2.svg);

}

.swiper-section {
    /* display: flex;
    flex-direction: row; */
    position: relative;
    padding-left: 260px;
    background-color: #F2F2F2;
    background-image: url(../images/Dell.svg);
    background-repeat: no-repeat;
    background-position: 40.39% 20.1%;
    height: 683px;
    width: 1151px;
}

.swiper-scroll {
    position: relative;
    left: -71.5px;
    top: 414.5px;
    transform: rotate(-90deg);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 168px;
    color: #838383;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.swiper-scroll button {
    position: relative;
    background: none;
    border: none;
    padding: 0;
    transform: rotate(90deg);
    margin-right: 24.5px;
}

.swiper-scroll__text {
    margin-bottom: 1px;
}

.swiper-inner-container {
    display: flex;
    flex-direction: row;
}

.swiper-text {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 211px;
    margin-left: 130px;
    width: fit-content;
}

.swiper-text span {
    color: #838383;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 133.687%;
}

.swiper-text__title {
    margin-top: 15px;
    width: 404px;
    color: #292D32;
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.18em;
}

.arrow-btn {
    position: relative;
    margin-top: 60px;
    padding: 5px 6px 1px 7px;
    width: 55px;
    height: 55px;
    background-color: #33A9FF;
    border: none;
    border-radius: 100%;
}

.arrow-btn:after {
    content: 'Побробнее';
    position: absolute;
    width: fit-content;
    color: #292D32;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-left: 33px;
    top: 19.1px;
}

.swiper-laptop-img {
    margin-top: 32px;
}

.deal-container {
    text-decoration: none;
    width: 509px;
    height: 684px;
    background-color: #F9F9F9;
    background-image: url(../images/image\ 23.png);
    background-repeat: no-repeat;
}

.deal-text {
    margin-top: 321px;
    margin-left: 40px;
    width: 181px;
    color: #292D32;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 129%;
    text-decoration: none;
}

.catalog-container {
    padding: 162.6px 260px 164px 260px;
}

.catalog-grid {
    display: grid;
    grid-template-columns: repeat(3, 440px);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px 40px;
}

.catalog-grid__item {
    position: sticky;
}

.catalog-grid__item:nth-child(1) {
    width: fit-content;
}

.catalog-grid__item-cat {
    border-radius: 20px;
    background: #F2F2F2;
}

.catalog-grid__item-cat:nth-child(odd) {
    background: #F9F9F9;
}

.catalog-grid__item .arrow-btn {
    margin-top: 45.5px;
}

.catalog-grid__item .arrow-btn::after {
    content: 'В каталог';
    width: max-content;
}

.catalog-grid__item-title {
    width: 388px;
    color: #292D32;
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
}

.catalog-grid__item-text {
    margin-top: 30px;
    width: 372px;
    color: #838383;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
}

.catalog-grid__item-number {
    margin-top: 41px;
    margin-left: 40px;
    color: #292D32;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 100;
    line-height: 150%;
}

.catalog-grid__item-img {
    position: absolute;
}

.catalog-grid__item-img__laptop {
    top: -10px;
    left: 12px;
}

.catalog-grid__item-img__pc {
    top: -21px;
    left: 115px;
}

.catalog-grid__item-img__dellemc {
    top: 59px;
    left: 75px;
}

.catalog-grid__item-img__parts {
    top: 38px;
    left: 87px;
}

.catalog-grid__item-img__pc img,
.catalog-grid__item-img__servers img,
.catalog-grid__item-img__dellemc img,
.catalog-grid__item-img__parts img {
    position: relative;
    z-index: 2;
}
.shadow__pc,
.shadow__servers,
.shadow__dellemc,
.shadow__parts {
    position: absolute;
}

.shadow__pc  {
    top: 76%;
    left: -10%;
}

.shadow__servers {
    top: 1%;
    left: -3%;
}

.shadow__dellemc {
    top: 74%;
    left: -5%;
}

.catalog-grid__item-img__servers {
    top: 81px;
    left: 51px;
}




.catalog-grid__item-count {
    margin-top: 186px;
    margin-left: 40px;
    color: #838383;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 133.687%;
}

.catalog-grid__item-count__pc {
    margin-top: 188px;
}

.catalog-grid__item-count__servers {
    margin-top: 185.5px;
}

.catalog-grid__item-count__parts {
    margin-top: 187px;
}

.catalog-grid__item-name {
    margin-top: 5.5px;
    margin-bottom: 40px;
    margin-left: 40px;
    color: #292D32;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.catalog-grid__item-name__pc {
    margin-top: 3.5px;
}

.catalog-grid__item-name__servers {
    margin-top: 5.5px;
}

.catalog-grid__item-name__parts {
    margin-top: 4.5px;
}